
header{
    text-align: center;
    background-color: #F0F8FF;
    padding: 1em;
}
body{
    background-color: #F0F8FF;
}
form{
    float: center;
    margin: auto;
    border: 3px;
    padding: 2em 5em;
    background: #F0F8FF;}
table{
    border: 1;
    column-rule-style: solid;
    column-rule-color: red;
    width: 150;
    height: 50%;

    }
footer{
    background-color: #F0F8FF;
    padding: 0 200%;
    margin: 0 -200%;
}
div{
    display: block;
}
textarea{
    text-align: left;;
}
div:active{
    background: red;
}
