header{
    text-align: center;
    background-image: url("ignasi_pattern_s.png");
    padding: 1em;
    border-bottom:solid 2px gray;
    color: #2f4f4f;
    text-shadow:2px 2px 1px gray;
}
body{
    background-image: url("ignasi_pattern_s.png");
     float: center;
    margin: auto;
    border: 3px;
    padding: 2em 5em;
}
table{
    border: hidden;
    width: 50em;
    height: 60%;

    }
tr,td{
    border :1px dotted gray;
    width: 200;
}
textarea{
    text-align: left;
    align : center;
    width: 80%;
}
input#submit,#reset{
    width: 100px;
    height: 50px;
    background-color: #2f4f4f;
    color: #fff;
    border-style: none;
    font-weight: bold;
    border-radius: 5px
}
